# Virtual environment
venv/
ENV/
env/
lab_env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyCharm project files
.idea/
*.iml

# MacOS
**/.DS_Store
# Logs
*.log

# data files
*.csv
*.xlsx
*.xls
*.json
*.png
*.txt

# Byte-compiled / optimized / DLL files
*.so
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

05/iti_dropout_tuning_/
05/models
